@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


body{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
}

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
}



.navbar{
    display: flex;
    background-color: #a37eba;
    align-items: center;
}

.navbar h1{
    font-weight: bold;
}
.navbar img{
    width: 50px;
    height: 50px;
    margin: 10px;
}

.navbar ul{
    display: flex;
    margin: 15px;
    list-style-type: none;
    column-gap: 20px;
    margin-left: auto;
}

.navbar ul li a{
    text-decoration: none;
    color: #e8e8e8;
    font-weight: bold;
}

.navbar ul li a:hover{
    text-decoration: underline;
    color: #6f4499;
    font-weight: bolder;
}

.starter-main{
    display: flex;
    width: 100%;
    background-color: #a37eba;
    padding: 3rem 0 3rem 0;
    color: #e8e8e8;
    justify-content: center;
    align-items: center;
}

.starter-col-1{
width: 100%;
font-size: 32px;
margin: 0px 25px 10px 25px;
font-weight: 500;
padding: 20px;
flex: 1 1 auto;
}

.starter-col-1 h1{
    font-size: 175%;
    margin-bottom: 15px;
}

.starter-col-1 p{
    margin-bottom: 15px;
}

.starter-col-1 button{
    background-color: #6f4499;
    color: #e8e8e8;
    border: none;
    padding: 8px;
    border-radius: 5px;
    width: 120px;
    font-weight: bold;
}

.starter-col-1 button a{
    text-decoration: none;
    color: #e8e8e8;
}

.starter-col-1 button a:hover{
    text-decoration: none;
    color: #e8e8e8;
    font-weight: 800;
}

.starter-col-2 {
    width: 50%;
    flex: 1 1 auto;
    margin-right: 20px;
}

.starter-col-2 img{
    border-radius: 5px;
    width: 600px;
}

#volleyball-title{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: bold;
}

.image-container{
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: center;
    column-gap: 2rem;
    flex-wrap: wrap;
}

.image-container img{
    border: 5px solid #6f4499;
    border-radius: 5px;
}

.quote-container{
margin-top: 80px;
text-align: center;
font-size: 125%;
width: 100%;
background-color: #e5df88;
padding: 20px;
}

.quote-container h4{
    font-weight: 400;
    margin-top: 10px;
    text-align: right;
}
    

